<!DOCTPE html>
<html lang="en">
	<head>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeOiu86JX0jOqtdaoMYO0-LTPLfYFAl1Q"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="calculator.js"></script>
	</head>
	<body>
		<div ng-app="mileageCalculator" ng-controller="formControl">
			<form>
				<label for="name">Employee: </label>
				<select ng-model="user.name" id="name">
					<option ng-repeat="(name, address) in employees" value="{{name}}">{{name}}</option>
				</select>
				<br><br>
				<label for="locations">Locations (in order visited):</label>
				<div id="locations">
					<ol>
						<li ng-repeat="location in locations track by $index"><input type="text" ng-model="locations[$index]"></li>
					</ol>
				</div>
				<button ng-click="calculate_mileage()">CALCULATE MILEAGE</button>
			</form>
			<p>Mileage: <span id="mileage">{{mileage}}</span></p>
		</div>
	</body>
</html>